body{
    background-image: url(../assets/fondoMenu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-columns: 100%;
    grid-template-rows: 120px 1800px 120px;
    font-family: 'Raleway', sans-serif;
}