body{
    background: url(../assets/fondodeMenu_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-columns: 100%;
    grid-template-rows: 120px 2300px 120px;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
    height: 100%;
}