// COMIDAS

.comidas{
    height: 530px;
    width: 100%;
    display: grid;
    grid-template-areas: 
    "titulo titulo"
    "bloque1 bloque2";
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 80%;
}

.comidas ul{
    list-style: none;
}

//TITULO

.titulo{
    grid-area: titulo;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo div{
    height: 40px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 7px;
}

.titulo h1{
    color: black;
}

//CUADRADOS
.primerCuadrado{
    grid-area: bloque1;
    text-align: center;
    background-color: rgba($color: #8f8f8f, $alpha: .3);
    border-radius: 8px;
    margin-left: 6px;
    color: white;
    border: 1px solid white;
    font-family: 'Raleway', sans-serif;
}

.primerCuadrado ul > :not(:first-child){
    margin-top: 50px;
}

.primerCuadrado ul > :first-child{
    margin-top: 10px;
}

.segundoCuadrado{
    grid-area: bloque2;
    text-align: center;
    background-color: rgba($color: #8f8f8f, $alpha: .3);
    border-radius: 8px;
    margin-right: 6px;
    color: white;
    border: 1px solid white;
    font-family: 'Raleway', sans-serif;
}

.segundoCuadrado ul > :not(:first-child){
    margin-top: 50px;
}

.segundoCuadrado ul > :first-child{
    margin-top: 10px;
}





