*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}

@import "./body";